<div class="center jumbotron">
  <div class="text-center">
    <h2>スケジュール画面</h2>
    <iframe src="https://calendar.google.com/calendar/embed?title=PMWave&amp;height=800&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=mkumagai%40digitalshiftwave.co.jp&amp;color=%231B887A&amp;src=akigomi%40digitalshiftwave.co.jp&amp;color=%23B1440E&amp;src=nanafuka%40digitalshiftwave.co.jp&amp;color=%23B1365F&amp;src=sshimazu%40digitalshiftwave.co.jp&amp;color=%238C500B&amp;src=ysuzuki%40digitalshiftwave.co.jp&amp;color=%23182C57&amp;src=yuoomura%40digitalshiftwave.co.jp&amp;color=%235229A3&amp;src=digitalshiftwave.co.jp_qlccqnmc48aiu0nbgji5rgnlig%40group.calendar.google.com&amp;color=%23865A5A&amp;src=digitalshiftwave.co.jp_enn5176umhjtab8m8jftl6epuk%40group.calendar.google.com&amp;color=%23333333&amp;src=ja.japanese%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FTokyo" style="border-width:0" width="1100" height="800" frameborder="0" scrolling="no"></iframe>
  </div>
</div>