<h1>アカウント作成</h1>
<div class="waku">
  <%= form_for @user do |f| %>
      <%= render "form", f: f %>
      <div class="row well" style="margin:20px 0 0 0;padding:10px;">
        <div class="col-sm-12">
          <%= link_to "戻る", mst_users_path, class:"btn btn-default", style:"float:left" %>
          <%= f.submit 'アカウントを作成する', class:"btn btn-primary", style:"float:right" %>
        </div>
      </div>
  <% end %>
</div>